/*-- scss:rules --*/

// Code configurations ----------------------------

// code in a regular R code chunk
code.sourceCode.r {
  font-size: 0.9rem;
}

// code in an webr code chunk 
// .reveal .mtk1{
//   font-size: 0.8rem;
// }

// code in text
.reveal code {
  font-size: 1rem;
  color: rgb(118, 13, 216)
}

// results of running codes
pre div code {
  font-size: 0.7rem;
}

// results of running codes in an webr code chunk
.reveal .qwebr-output-code-stdout{
  font-size: 0.8rem;
}

// Header ----------------------------

.reveal h2 {
  font-size: 1.8rem;
  color: #f59219;
}

.reveal h2 code {
  font-size: 1.8rem;
}

.reveal h3 {
  font-size: 1.4rem;
}

// call-out box configurations
.reveal .callout.callout-style-default div.callout-title {
  font-size: 1.2rem;
}

.reveal .callout.callout-style-default div.callout-content {
  font-size: 1rem;
}

.content-box-blue {
  background-color: #F0F8FF;
}

.content-box-gray {
  background-color: #e2e2e2;
}

.content-box-grey {
  background-color: #F5F5F5;
}

.content-box-army {
  background-color: #737a36;
}

.content-box-green {
  background-color: #d9edc2;
}

.content-box-purple {
  background-color: #e2e2f9;
}

.content-box-red {
  background-color: #ffcccc;
}

.content-box-yellow {
  background-color: #fef5c4;
}

a[role="tab"] {
  color: #06a666;
}

a[aria-selected="true"] {
  color: #ed0c0c;
}

a:hover {
  background-color: #f3f6ae;
}

.monaco-editor {
  background-color: #ec4343;
}

.lines-content.monaco-editor-background {
  background-color: #F7FDFF;
}

hr {
  height: 0.5px;
  background-color: #da792a;
}